/* app/globals.css */
@import "tailwindcss";

:root {
  --font-sans: var(--font-poppins), sans-serif;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #101828;
  }
}